<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastrar Unidade Basica de Saude</title>

</head>

<body>

    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-fixed-top navbar-light navbar-expand-sm">

        <!-- LOGO -->
        <a class="navbar-brand" routerLink="/">

            <img src="assets/logoxx.png"
                width="50"
                height="50"
                class="d-inline-block align-top"
                alt="">

        </a>

        <!-- BOTÃO PARA RESPONSIVIDADE -->
        <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- BOTOES DA NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav mr-auto">

                    <button type="button"
                        class="voltar btn btn-outline-success"
                        routerLink="administrador"
                        >VOLTAR
                    </button>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Campos De Cadastramento -->
    <div id="main" class="container-fluid">

        <h3 class="page-header">Cadastrar Unidade Basica de Saude</h3>

        <form>
            <!-- Campos : CNES, Nome da UBS e Municipio -->
            <div class="row">

                <div class="form-group col-md-4">
                    <label for="cnes">Numero do CNES:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.cnes"
                        id="cnes"
                        name="cnes"
                        required
                        maxlength={{SIZE_CNES}}
                        placeholder="Digite o numero do CNES">
                </div>

                <div class="form-group col-md-4">
                    <label for="nome_da_unidade">Nome da UBS:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.nome_da_unidade"
                        id="nome_da_unidade"
                        name="nome_da_unidade"
                        required
                        maxlength={{SIZE_NOME_DA_UNIDADE}}
                        placeholder="Digite o Nome da UBS">
                </div>

                <div class="form-group col-md-4">
                    <label for="">Municipio da Unidade:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.municipio"
                        id="municipio"
                        name="municipio"
                        required
                        maxlength={{SIZE_MUNICIPIO}}
                        placeholder="Digite o Municipio da Unidade">
                </div>

            </div>

            <!-- Campos : Bairro, Endereço e Estado -->
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="bairro">Bairro:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.bairro"
                        id="bairro"
                        name="bairro"
                        required
                        maxlength={{SIZE_BAIRRO}}
                        placeholder="Digite o Bairro da Unidade">
                </div>

                <div class="form-group col-md-3">
                    <label for="endereco">Endereço:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.endereco"
                        id="endereco"
                        name="endereco"
                        required
                        maxlength={{SIZE_ENDERECO}}
                        placeholder="Digite o Endereço da Unidade">
                </div>

                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Estado:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.estado"
                        id="estado"
                        name="estado"
                        required
                        maxlength={{SIZE_ESTADO}}
                        placeholder="Digite o estado EX:(MG)">
                </div>

            </div>

            <!-- Campos : Telefone e CEP -->
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="telefone">Telefone:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.telefone"
                        id="telefone"
                        name="telefone"
                        required
                        maxlength={{SIZE_TELEFONE}}
                        placeholder="Digite o Telefone de Contato">
                </div>

                <div class="form-group col-md-6">
                    <label for="cep">CEP:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="ubs.cep"
                        id="cep"
                        name="cep"
                        required
                        maxlength={{SIZE_CEP}}
                        placeholder="Digite o CEP">
                </div>

            </div>

            <!-- Campos : Senha e Confirma Senha -->
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="senha">Senha:</label>
                    <input class="form-control"
                    type="password" 
                    [(ngModel)]="ubs.senha" 
                    id="senha"
                    name="senha"
                    required
                    maxlength = {{SIZE_SENHA}}
                    placeholder="Digite a Senha para sua conta">
                </div>

                <div class="form-group col-md-3">
                    <label for="confirmaSenha">Confirmar Senha:</label>
                    <input class="form-control" 
                    type="password"
                    [(ngModel)]="confirmaSenha"
                    id="confirmaSenha"
                    name="confirmaSenha"
                    required
                    maxlength = {{SIZE_SENHA}}
                    placeholder="Confirme sua Senha">
                </div>

                <div class="form-group espaco">
                    <label for="inputBloqueado">Bloqueado</label>

                    <select id   = "inputBloqueado" 
                            name = "inputBloqueado" 
                            required 
                            [(ngModel)]="ubs.bloqueado" 
                            class="form-control"
                    >

                        <option value=false>Não</option>
                        <option value=true>Sim</option>
                    </select>
                </div>
            </div>
        </form>

    </div>

    <!-- Botão de Registrar Cadastro -->
    <div>
        <button type="button"
                class="btRegistrar btn btn-outline-success"
                (click)="registrar()"
                >Registrar
        </button>
    </div>


</body>

</html>