<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Login-UBS</title>
</head>

<body>
	<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
	<nav class="navbar  sticky-top navbar-light navbar-expand-sm">

		<!-- LOGO -->
		<a class="navbar-brand" routerLink="/">

			<img src="assets/logoxx.png"
				width="50"
				height="50"
				class="d-inline-block align-top"
				alt=""
			>

		</a>

		<!-- BOTÃO PARA RESPONSIVIDADE -->
		<button class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>

		</button>

		<!-- BOTOES DA NAVBAR -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container">
				<ul class="navbar-nav mr-auto">

					<button type="button"
						class="btn btn-outline-success"
						routerLink="/"
						>VOLTAR
					</button>

				</ul>
			</div>
		</div>
	</nav>

	<!--CORPO DO LOGIN-->
	<div>
		<div class="login-box">
			<form method="post" autocomplete="off">
				<!-- CPF LOGIN -->
				<label for="cnesLogin">CNES</label>
				<input type="text"
					placeholder="Entre com numero do CNES"
					maxlength=8
					required
					[(ngModel)]="userUbs"
					(keydown)="formataCnes(inputCnes.value)"
					id="cnesLogin"
					name="cnesLogin"
					#inputCnes	
				>

				<!-- SENHA -->
				<label for="inputSenhaLogin">Senha</label>
				<input type="password"
					placeholder="Entre com a senha"
					maxlength=20
					required 
					[(ngModel)]="senha"
					id="inputSenhaLogin"
					name="inputSenhaLogin"
				>

				<!-- BOTÃO ENTRAR -->
				<input type = "submit" 
				       value = "Entrar" 
				       id = "buttonLogin"
				       (click) = "loginUbs()"
		        >
				
			</form>

			<div *ngIf="erro" class="alert-warning">
					<div class="alerta-login-invalido">
					  {{ erro }}
					</div>
			</div>
		</div>
	</div>

	<!-- Rodapé
	<footer class="footer sticky-row text-center container-fluid">
		<div class="container">
			<div>
				<p>--Rodapé--</p>
			</div>
		</div>
	</footer> -->

</body>

</html>