<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>workspace-ubs</title>
</head>

<body>
	<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
	<nav class="navbar  navbar-fixed-top navbar-light navbar-expand-sm">

		<!-- LOGO -->
		<a class="navbar-brand" routerLink="home">

			<img src="assets/logoxx.png"
				width="50"
				height="50"
				class="d-inline-block align-top"
				alt=""
			>
		</a>
		<H2></H2>

		<!-- BOTÃO PARA RESPONSIVIDADE -->
		<button class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>

		</button>

		<!-- BOTOES DA NAVBAR -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container">
				<ul class="navbar-nav mr-auto">

					<button type="button"
					    routerLink="cadastrar-populacao" 
						class="btn btn-outline-success"
						>Cadastrar Populacão
					</button>

					<button type="button"
						class="btn btn-outline-success"
						>Sair
					</button>

				</ul>
			</div>
		</div>
	</nav>

	<!--Campo PESQUISA -->
	<div class="form-group col-md-5">
		<div class="input-group-append">

			<input type = "text"
				   id   = "inputPesquisaRegistroUsuario" 
				   required 
				   maxlength="8" 
				   class="form-control" 
				   autocomplete="off"
				   [(ngModel)]="pesquisa"
				   (keyup.enter)="getUsuariosPorNome()"
				   placeholder="Numero do Cartao do SUS ou Nome"              
			>

			<!-- Botao do campo de pesquisa -->
			<input type="button" 
				   id="inputPesquisaRegistroUsuario"  
				   (click)="getUsuariosPorNome()"
				   class="buttonPesquisa"
			>
		</div>
	</div>

	<table class="table table-responsive table-hover table-dark" id="tabela">
			<thead>
			  <tr>
				<th scope="col">Vacina</th>
				<th scope="col">Status</th>
				<th scope="col">Resposavel</th>
				<th scope="col">UBS-Responsavel</th>
				<th scope="col">Aplicada</th>
				<th scope="col">Validade</th>
				<th ></th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<th scope="row">H1N11111111</th>
				<td>aplicada</td>
				<td>joao</td>
				<td>UBS-test</td>
				<td>15/09/2019</td>
				<td>15/09/2020</td>
				<button class="btn btn-outline-success">APLICAR VACINA</button>
				
			  </tr>
			  <tr>
					<th scope="row">H1N1</th>
					<td>aplicada</td>
					<td>joao</td>
					<td>UBS-test</td>
					<td>15/09/2019</td>
					<td>15/09/2020</td>
					
				  </tr>
				  <tr>
						<th scope="row">H1N1</th>
						<td>aplicada</td>
						<td>joao</td>
						<td>UBS-test</td>
						<td>15/09/2019</td>
						<td>15/09/2020</td>
						
					  </tr>
					  <tr>
							<th scope="row">H1N1</th>
							<td>aplicada</td>
							<td>joao</td>
							<td>UBS-test</td>
							<td>15/09/2019</td>
							<td>15/09/2020</td>
							
						</tr>
						<tr>
								<th scope="row">H1N1</th>
								<td>aplicada</td>
								<td>joao</td>
								<td>UBS-test</td>
								<td>15/09/2019</td>
								<td>15/09/2020</td>
								
							</tr>
							<tr>
									<th scope="row">H1N1</th>
									<td>aplicada</td>
									<td>joao</td>
									<td>UBS-test</td>
									<td>15/09/2019</td>
									<td>15/09/2020</td>
									
								</tr>
								<tr>
										<th scope="row">H1N1</th>
										<td>aplicada</td>
										<td>joao</td>
										<td>UBS-test</td>
										<td>15/09/2019</td>
										<td>15/09/2020</td>
										
									</tr>
									<tr>
											<th scope="row">H1N1</th>
											<td>aplicada</td>
											<td>joao</td>
											<td>UBS-test</td>
											<td>15/09/2019</td>
											<td>15/09/2020</td>
											
										</tr>
										<tr>
												<th scope="row">H1N1</th>
												<td>aplicada</td>
												<td>joao</td>
												<td>UBS-test</td>
												<td>15/09/2019</td>
												<td>15/09/2020</td>
												
											</tr>
			</tbody>
	</table>
	
	<!--Rodapé-->
	<footer class="footer text-center ">
		<p>--Rodapé--</p>
	</footer>

</body>
</html>