<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>workspace-ubs</title>
</head>

<body>
	<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
	<nav class="navbar  navbar-fixed-top navbar-light navbar-expand-sm">

		<!-- LOGO -->
		<a class="navbar-brand">

			<img src="assets/logoxx.png"
				width="50"
				height="50"
				class="d-inline-block align-top"
				alt=""
			>
		</a>
		<H2></H2>

		<!-- BOTÃO PARA RESPONSIVIDADE -->
		<button class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>

		</button>

		<!-- BOTOES DA NAVBAR -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container">
				<ul class="navbar-nav mr-auto">

					<button type="button"
					    routerLink="cadastrar-populacao" 
						class="btn btn-outline-success"
						>Cadastrar Populacão
					</button> 
					<button type="button"
						class="btn btn-outline-success"
						(click)="sair()"
						>Sair
					</button>

				</ul>
			</div>
		</div>
	</nav>
<div style="background-color: rgb(146, 162, 255)">

	<!--Campo PESQUISA -->
	<div class="form-group col-md-12">
		<div class="input-group-append">

			<!--colocar o nome do agente -->
			<h2>Agente de Saude - {{nomeAdsLogado}}</h2>
			<!-- Botao para cadastrar nova vacina para o peessoa em questao -->
			<input type="button" 
				   id="inputAplicarNovaVacina"  
				   routerLink="nova-vacina" 
				   class="buttonPesquisa btn btn-success"
				   value="Nova Vacina"
			>
		</div>
	</div>

	<!--Campo PESQUISA -->
	<div class="form-group col-md-8">
		<h4 style="text-align: center;">Verificar o Cartão da Peessoa</h4>
		<div class="campo input-group-append">
		
			<input type = "text"
				   id   = "inputPesquisaCartao" 
				   required 
				   maxlength="15" 
				   class="form-control" 
				   autocomplete="off"
				   [(ngModel)]="pesquisa"
				   (keyup.enter)="getChecarPopulacao()"
				   placeholder="Numero do Cartao do SUS"              
			>

			<!-- Botao do campo de pesquisa -->
			<input type="button" 
				   id="inputPesquisaCartao"  
				   (click)="getChecarPopulacao()"
				   class="buttonPesquisa btn btn-success"
				   value="Pesquisar">
			
		</div>
	</div>

	<table class="table table-responsive table-hover" style="text-align: center;" id="tabela">
			<thead>
			  <tr>
				<th scope="col">Usuario</th>
				<th scope="col">Vacina</th>
				<th scope="col">Lote</th>
				<th scope="col">Resposavel</th>
				<th scope="col">UBS</th>
				<th scope="col">Aplicada</th>
				<th scope="col">Validade</th>
				<th scope="col">Status</th>
				<th ></th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let workspaceAds of workspaceAdsVacinas">
				
				<td>{{workspaceAds.nome}}</td>
				<td>{{workspaceAds.vacina_nome}}</td>
				<td>{{workspaceAds.lote}}</td>
				<td>{{workspaceAds.nome_agente}}</td>
				<td>{{workspaceAds.nome_da_unidade}}</td>
				<td>{{workspaceAds.data_aplicacao | date:'dd/MM/yyyy'}}</td>
				<td *ngIf="workspaceAds.select_tempo_imunizacao != 'U'">{{workspaceAds.data_validade | date:'dd/MM/yyyy'}}</td>
				<td *ngIf="workspaceAds.select_tempo_imunizacao == 'U'">Infinita</td>
				<td *ngIf="workspaceAds.aplicada">Aplicada</td>
				<td *ngIf="!workspaceAds.aplicada">Agendada</td>
				<td *ngIf="compararData(workspaceAds.data_validade) && workspaceAds.select_tempo_imunizacao != 'U'">
						<input  type="button"
					    class="btn btn-danger buttonBloquear"
					    value="Atualizar Vacina"
					    routerLink="nova-vacina/"
					    [queryParams]="{
						                cartao_sus:pesquisa,
						                vacina_id:workspaceAds.id_vacina,
						                select:workspaceAds.select_tempo_imunizacao,
						                periodo:workspaceAds.periodo_de_imunizacao,
										status:workspaceAds.aplicada,
										validade:workspaceAds.data_validade,
										verificacao:true
					    }"
					>
				</td>
				<td></td>
				
			  </tr>
			</tbody>
	</table>

</div>
</body>
</html>