<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Relatorio-UBS</title>
</head>

<body>
    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar  sticky-top navbar-light navbar-expand-sm">

        <!-- LOGO -->
        <a class="navbar-brand" routerLink="/">

            <img src="assets/logoxx.png" width="50" height="50" class="d-inline-block align-top" alt="">

        </a>

        <!-- BOTÃO PARA RESPONSIVIDADE -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- BOTOES DA NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav mr-auto">

                    <button type="button" class="btn btn-outline-success" routerLink="/">VOLTAR</button>

                </ul>
            </div>
        </div>
    </nav>

    <!--Emprementar as tabelas-->

    <!--Rodapé-->
    <footer class="footer sticky-row text-center container-fluid">
        <div class="container">
            <div>
                <p>--Rodapé--</p>
            </div>
        </div>
    </footer>

</body>

</html>