<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro da População</title>

</head>

<body>

    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-fixed-top navbar-light navbar-expand-sm">

        <!-- LOGO -->
        <a class="navbar-brand" routerLink="/">

            <img src="assets/logoxx.png"
                width="50"
                height="50"
                class="d-inline-block align-top"
                alt="">

        </a>

        <!-- BOTÃO PARA RESPONSIVIDADE -->
        <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- BOTOES DA NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav mr-auto">

                    <button type="button"
                        class="voltar btn btn-outline-success"
                        routerLink="/"
                        >VOLTAR
                    </button>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Campos De Cadastramento -->
    <div id="main" class="container-fluid">

        <h3 class="page-header text-center">Entre com seus Dados</h3>

        <form action="index.html">
            <!-- Campos : Cartão Do SUS, Nome da Mãe e Municipio De Nacimento -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="cartao_sus">Cartão do SUS:</label>
                    <input class="form-control" 
                        type="number"
                        [(ngModel)]="populacao.cartao_sus" 
                        id="cartao_sus"
                        name="cartao_sus"
                        maxlength="15"
                        placeholder="Numero do cartâo">
                </div>
                <div class="form-group col-md-4">
                    <label for="nome_da_mae">Nome da Mãe:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="populacao.nome_da_mae" 
                        id="nome_da_mae"
                        name="nome_da_mae"
                        maxlength="60"
                        placeholder="Nome da sua Mãe">
                </div>
                <div class="form-group col-md-4">
                    <label for="municipio_de_nacimento">Municipio de Nacimento:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="populacao.municipio_de_nacimento" 
                        id="municipio_de_nacimento"
                        name="municipio_de_nacimento"
                        maxlength="30"
                        placeholder="Municipio de Nacimento">
                </div>
            </div>

            <!-- Campos : Estado, Endereço, Nome do Pai e Sexo -->
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="estado">Estado:</label>
                    <input class="form-control" 
                        type="text"
                        [(ngModel)]="populacao.estado"
                        id="estado"
                        name="estado"
                        maxlength="2" 
                        placeholder="Digite seu Estado Ex: MG">
                </div>

                <div class="form-group col-md-3">
                    <label for="endereco">Endereço:</label>
                    <input class="form-control" 
                        type="text"
                        [(ngModel)]="populacao.endereco"
                        id="endereco"
                        name="endereco"
                        maxlength="60"
                        placeholder="Digite seu Endereço">
                </div>

                <div class="form-group col-md-3">
                    <label for="nome_da_pai">Nome do Pai:</label>
                    <input class="form-control" 
                        type="text"
                        [(ngModel)]="populacao.nome_da_pai"
                        id="nome_da_pai"
                        name="nome_da_pai"
                        maxlength="60"
                        placeholder="Nome do seu Pai">
                </div>

                <div class="form-group col-md-3">

                    <legend class="col-form-label col-sm-2 pt-0">Sexo:</legend>

                    <div class="col-sm-10">
                                              <!-- faltando arumar algumas coisas -->
                        <div class="form-check">
                            <input class="form-check-input"
                            type="radio"
                            [(ngModel)]="populacao.sexo"
                            name="sexo"
                            id="sexo"
                            value="M"
                            >
                            <label class="form-check-label" for="sexo"> Masculino </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input"
                            type="radio" 
                            [(ngModel)]="populacao.sexo"
                            name="sexo"
                            id="sexo"
                            value="F">
                            <label class="form-check-label" for="sexo"> Femenino </label>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Campos : Nome e Data de Nacimento -->
            <div class="row">

                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="populacao.nome"
                        id="nome"
                        name="nome"
                        maxlength="50" 
                        placeholder="Digite seu Nome">
                </div>

                <div class="form-group col-md-6">
                    <label for="data_nacimento">Data de Nacimento</label>
                    <input class="form-control"
                        type="date"
                        [(ngModel)]="populacao.data_nacimento"
                        id="data_nacimento"
                        name="data_nacimento"
                        placeholder="Digite sua Data de Nacimento">
                </div>

            </div>

            <!-- Campos : Senha e Confirma Senha -->
            <div class="row">
                                <!-- faltando arumar algumas coisas -->
                <div class="form-group col-md-3">
                    <label for="">Senha:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="confirmaSenha"
                        id="confirmaSenha"
                        name="confirmaSenha"
                        maxlength="32"
                        placeholder="Digite a Senha para sua conta">
                </div>

                <div class="form-group col-md-3">
                    <label for="">Confirmar Senha:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="confirmaSenha"
                        id="confirmaSenha"
                        name="confirmaSenhas"
                        maxlength="32"
                        placeholder="Confirme sua Senha">
                </div>

            </div>

        </form>

        <!-- Botao de Registrar -->
        <div class="row">
            <div class="form-group col-md-3">
                <button type="button"
                    class="btRegistrar btn btn-outline-success"
                    (click)="registrar()">
                    Registrar
                </button>
            </div>
        </div>
    </div>

    <!--Rodapé-->
    <footer class="footer text-center">
        <p>--Rodapé--</p>
    </footer>

</body>

</html>