<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>workspace-ubs</title>
</head>

<body>
	<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
	<nav class="navbar  navbar-fixed-top navbar-light navbar-expand-sm">

		<!-- LOGO -->
		<a class="navbar-brand">

			<img src="assets/logoxx.png"
				width="50"
				height="50"
				class="d-inline-block align-top"
				alt=""
			>

		</a>

		<!-- BOTÃO PARA RESPONSIVIDADE -->
		<button class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>

		</button>

		<!-- BOTOES DA NAVBAR -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container">
				<ul class="navbar-nav mr-auto">

					<button type="button"
						class="btn btn-outline-success"
						routerLink="cadastrar-ads"
						>Cadastrar Agente
					</button>

					<button type="button"
						class="btn btn-outline-success"
						routerLink="cadastrar-vacina"
						>Cadastrar Vacina
					</button>

					<button type="button"
						class="btn btn-outline-success"
						routerLink="relatorio"
						>Relatorio
					</button>

					<button type="button"
						class="btn btn-outline-success"
						>Sair
					</button>

				</ul>
			</div>
		</div>
	</nav>

					<!-- TABELA DE AGENTES -->
					   
	<!-- coloco q cor de fundo da tela(provisorio furuaramente mudar parao aruivo de css) -->
<div style="background-color:  rgb(91, 94, 94)">

	<div class="nomeSujeito">
		<h2>Agentes Cadastrados</h2>
	</div>


	<!--Campo PESQUISA -->
	<div class="form-group col-md-5">

		<div class="input-group-append">

			<input type = "text"
				   id   = "pesquisarAgentePorUbs" 
				   required 
				   maxlength="50" 
				   class="form-control" 
				   autocomplete="off"
				   [(ngModel)]="pesquisa"
				   (keyup.enter)="getAgentePeloNome()"
				   placeholder="Digite o Nome do Agente"              
			>


			<input type="button" 
				   id="pesquisarAgentePorUbs"  
				   (click)="getAgentePeloNome()"
				   class="btn btn-light buttonPesquisa"
			       value="Pesquisar"><!-- Botao do campo de pesquisa | colocar uma imagem nesse botao e tirar o value pesquisar -->
		</div>

	</div>

	<table class="table table-responsive table-hover table-dark" id="tabelaAgente">
			<thead>
				
				<th scope="col">CPF</th>
				<th scope="col">Nome do Agente</th>
				<th scope="col">Senha</th>
				<th scope="col">RG</th>
				<th></th>

			</thead>
			<tbody>

			  <tr *ngFor="let workspaceUbs of workspaceUbsAgentes">

				<td>{{workspaceUbs.cpf}}</td>
				<td>{{workspaceUbs.nome}}</td>
				<td>{{workspaceUbs.senha}}</td>
				<td>{{workspaceUbs.rg}}</td>
				<td><input type="button" class="btn btn-secondary buttonBloquear" value="Bloquear Agente"></td>

			  </tr>

			</tbody>
	</table>

</div>

				<!-- TABELA DE VACINAS -->
							  
<!-- coloco q cor de fundo da tela(provisorio futuaramente mudar para o arquivo de css) -->
<div style="background-color:  rgb(91, 94, 94)">

	<div class="nomeSujeito">
		<h2>Vacinas Cadastradas</h2>
	</div>


	<!--Campo PESQUISA -->
	<div class="form-group col-md-5">
		<div class="input-group-append">

			<input type = "text"
				   id   = "pesquisarVacinas" 
				   required 
				   maxlength="50" 
				   class="form-control" 
				   autocomplete="off"
				   [(ngModel)]="pesquisaVacina"
				   (keyup.enter)="getAgentePeloNome()"
				   placeholder="Digite o Nome da Vacina"              
			>

			<!-- Botão de Pesquisa |>Arrumar o espaco entre o campo de peqsuisa e o botao--> 
			<input type="button" 
				   id="pesquisarVacinas"  
				   (click)="getAgentePeloNome()"
				   class="buttonPesquisavacina"
			       value="Pesquisar"><!-- Botao do campo de pesquisa | colocar uma imagem nesse botao e tirar o value pesquisar -->
		</div>
	</div>

	<table class="table table-responsive table-hover table-dark" id="tabelaVaciana">

			<thead>
				
				<th scope="col">Nome</th>
				<th scope="col">Lote</th>
				<th scope="col">UBS</th>
				<th scope="col">Tempo de Imunização</th>
				<th scope="col">Quantidade de Vacinas</th>
				<th></th>

			</thead>

			<tbody>
			  <tr *ngFor="let workspaceUbs of workspaceUbsVacinas">

				<td>{{workspaceUbs.nome}}</td>
				<td>{{workspaceUbs.lote}}</td>
				<td>{{workspaceUbs.nome_da_unidade}}</td>
				<td>{{workspaceUbs.periodo_de_imunizacao}}</td>
				<td>{{workspaceUbs.qtd_vacinas}}</td>
				<td><input type="button" class="btn btn-danger buttonBloquear" value="Atualizar Vacina"></td>

			  </tr>
			</tbody>

	</table>

</div>
</body>

</html>