<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro de Agente</title>

</head>

<body>

    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-fixed-top navbar-light navbar-expand-sm">

        <!-- LOGO -->
        <a class="navbar-brand" routerLink="workspace-ubs">

            <img src="assets/logoxx.png" 
                width="50" 
                height="50"
                class="d-inline-block align-top" alt="">

        </a>

        <!-- BOTÃO PARA RESPONSIVIDADE -->
        <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- BOTOES DA NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav mr-auto">

                    <button type="button"
                        class="voltar btn btn-outline-success"
                        routerLink="workspace-ubs"
                        >VOLTAR
                    </button>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Campos De Cadastramento -->
    <div id="main" class="container-fluid">

        <h3 class="page-header" style="text-align: center;">Digite os dados do Novo Agente de Saude:</h3>

        <form>
            <!-- Campos : CPF e Nome do Agente -->
            <div class="row">

                <div class="form-group col-md-4">
                    <label for="cpf">Numero do CPF:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="agente.cpf"
                        id="cpf"
                        name="cpf" 
                        maxlength = {{SIZE_CPF}}
                        [class.is-invalid] = "statusCpf"
                        placeholder="Numero do CPF do Agente">
                </div>

                <div class="form-group col-md-4">
                    <label for="nome">Nome do Agente:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="agente.nome"
                        id="nome"
                        name="nome" 
                        maxlength = {{SIZE_NOME}}
                        [class.is-invalid] = "statusNome"
                        placeholder="Nome do Agente">
                </div>

            </div>

            <!-- Campos : Senha e RG do Agente -->
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="senha">Senha:</label>
                    <input class="form-control"
                    type="password" 
                    [(ngModel)]="agente.senha" 
                    id="senha"
                    name="senha"
                    [class.is-invalid] = "statusSenha"
                    maxlength = {{SIZE_SENHA}}
                    placeholder="Digite a Senha para sua conta">
                </div>

                <div class="form-group col-md-3">
                    <label for="confirmaSenha">Confirmar Senha:</label>
                    <input class="form-control" 
                    type="password"
                    [(ngModel)]="confirmaSenha"
                    id="confirmaSenha"
                    name="confirmaSenha"
                    [class.is-invalid] = "statusConfSenha"
                    maxlength = {{SIZE_SENHA}}
                    placeholder="Confirme sua Senha">
                </div>

                <div class="form-group col-md-3">
                    <label for="rg" >Numero do RG:</label>
                    <input class="form-control"
                    type="text"
                    [(ngModel)]="agente.rg"
                    id="rg"
                    name="rg"
                    [class.is-invalid] = "statusRg"
                    maxlength = {{SIZE_RG}}
                    placeholder="Numero do RG do Agente">
                </div>

                <div class="form-group espaco">
                    <label for="inputBloqueado">Bloqueado</label>

                    <select id   = "inputBloqueado" 
                            name = "inputBloqueado" 
                            required
                            [class.is-invalid] = "statusBloqueado"
                            [(ngModel)]="agente.bloqueado" 
                            class="form-control"
                    >

                        <option value=false>Não</option>
                        <option value=true>Sim</option>
                    </select>
                </div>

            </div>

        </form>

        <!-- Botao de Registrar  -->
        <div class="row">
            <div class="form-group col-md-12">
                <button class="btRegistrar btn btn-outline-success"
                    type="button"
                    (click)="registrar()">
                    Registrar
                </button>
            </div>
        </div>
    </div>

    <!-- Rodapé
    <footer class="footer text-center">
        <p>--Rodapé--</p>
    </footer> -->

</body>

</html>