<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro de Vacina</title>

</head>

<body>

    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-fixed-top navbar-light navbar-expand-sm">

        <!-- LOGO -->
        <a class="navbar-brand" routerLink="workspace-ubs">

            <img src="assets/logoxx.png"
                width="50"
                height="50"
                class="d-inline-block align-top"
                alt="">

        </a>

        <!-- BOTÃO PARA RESPONSIVIDADE -->
        <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- BOTOES DA NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav mr-auto">

                    <button type="button"
                        class="voltar btn btn-outline-success"
                        routerLink="workspace-ubs"
                        >VOLTAR
                    </button>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Campos De Cadastramento -->
    <div id="main" class="container-fluid">

        <h3 class="page-header">Entre com os dados da Vacina</h3>

        <form>
            <!-- Campos : Nome da Vacina, Lote e Seu Nome -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="nome">Nome da Vacina:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="vacina.nome"
                        id="nome"
                        name="nome"
                        maxlength={{SIZE_NOME}}
                        placeholder="Nome da vacina"
                    >
                </div>
                <div class="form-group col-md-4">
                    <label for="lote">Lote:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="vacina.lote"
                        id="lote"
                        name="lote"
                        maxlength={{SIZE_LOTE}}
                        placeholder="Digite o lote da vacina"
                    >
                </div>
                <div class="form-group col-md-4">
                    <label for="nome_da_unidade">Nome da Unidade: </label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="vacina.nome_da_unidade"
                        id="nome_da_unidade"
                        name="nome_da_unidade"
                        maxlength={{SIZE_NOME_DA_UNIDADE}}
                        placeholder="Responsavel por esse Cadastramento"
                    >
                </div>
            </div>

            <!-- Campos : Quantidade de Vacinas e Tempo de Imunização -->
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="qtd_vacinas">Quantidade de Vacinas:</label><!--falta arumar no objeto vacina.ts-->
                    <input class="form-control"
                        type="number"
                        [(ngModel)]="vacina.qtd_vacinas"
                        id="qtd_vacinas"
                        name="qtd_vacinas"
                        placeholder="Digite a Quantidade"
                    >
                </div>
                <div class="form-group col-md-3">
                    <label for="">Tempo de Imunização:</label>
                    <input class="form-control"
                        type="text"
                        [(ngModel)]="vacina.periodo_de_imunizacao"
                        id="periodo_de_imunizacao"
                        name="periodo_de_imunizacao"
                        maxlength={{SIZE_PERIODO_DE_IMUNIZACAO}}
                        placeholder="Digite o Tempo"
                    >
                </div>
            </div>
        </form>
        
    </div>
    
    <!-- Botão de Registrar Cadastro -->
    <div>
            <button type="button"
                class="btRegistrar btn btn-outline-success"
                (click)="registrar()"
                >Registrar
            </button>
    </div>

    <!--Rodapé-->
   <!--Rodapé-->
   <footer class="footer text-center">
        <p>--Rodapé--</p>
    </footer>
</body>

</html>