<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cartao da Populacao</title>

</head>

<body>

    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
	<nav class="navbar  navbar-fixed-top navbar-light navbar-expand-sm">

		<!-- LOGO -->
		<a class="navbar-brand">

			<img src="assets/logoxx.png"
				width="50"
				height="50"
				class="d-inline-block align-top"
				alt=""
			>
		</a>
		<H2></H2>

		<!-- BOTÃO PARA RESPONSIVIDADE -->
		<button class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>

		</button>

		<!-- BOTOES DA NAVBAR -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container">
				<ul class="navbar-nav mr-auto">

					<button type="button"
						class="btn btn-outline-success"
						>Atualizar Informacões
					</button>

					<button type="button"
						class="btn btn-outline-success"
						(click)="sair()"
						>Sair
					</button>

				</ul>
			</div>
		</div>
	</nav>

<div style="background-color: rgb(91, 94, 94)">

	<div class="form-group col-md-5">
		<div class="input-group-append">

			<!--colocar o nome do agente -->
			<h3>Usuario Logado - {{nomeLogado}}</h3>

		</div>

		<h4>Cartão de Vacinas</h4>

	</div>

	<table class="table table-responsive table-hover table-dark" id="tabela">
			<thead>
			  <tr>
				<th scope="col">Vacina</th>
				<th scope="col">Lote</th>
				<th scope="col">Resposavel</th>
				<th scope="col">UBS</th>
				<th scope="col">Aplicada em</th>
				<th scope="col">Validade</th>
				<th ></th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let vacinas of vacinasNoCartao">
				
				<td>{{vacinas.vacina_nome}}</td>
				<td>{{vacinas.lote}}</td>
				<td>{{vacinas.nome_agente}}</td>
				<td>{{vacinas.nome_da_unidade}}</td>
				<td>{{vacinas.data_aplicacao | date:'dd/MM/yyyy'}}</td>
				<td>{{vacinas.data_validade | date:'dd/MM/yyyy'}}</td>
				<td *ngIf="vacinas.aplicada">Aplicada</td>
				<td *ngIf="!vacinas.aplicada">Agendada</td>
			
			  </tr>
			</tbody>
	</table>
</div>

</body>

</html>