<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Administrador</title>
</head>
<body>
    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
	<nav class="navbar  navbar-fixed-top navbar-light navbar-expand-sm">

            <!-- LOGO -->
            <a class="navbar-brand">
    
                <img src="assets/logoxx.png"
                    width="50"
                    height="50"
                    class="d-inline-block align-top" 
                    alt=""
                >
    
            </a>
    
            <!-- BOTÃO PARA RESPONSIVIDADE -->
            <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
    
                <span class="navbar-toggler-icon"></span>
    
            </button>
    
            <!-- BOTOES DA NAVBAR -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <ul class="navbar-nav mr-auto">

                        <button type="button"
                            class="btn btn-outline-success"
                            routerLink="cadastrar-ubs"
                            >CADASTRAR UBS
                        </button>
                        <button type="button"
                            class="btn btn-outline-success"
                            routerLink="/"
                            >SAIR
                        </button>
    
                    </ul>
                </div>
            </div>
    </nav>

    <!-- TABELA DE UBS -->
							  
    <!-- coloco q cor de fundo da tela(provisorio futuaramente mudar para o arquivo de css) -->
    <div style="background-color:   rgb(146, 162, 255)">

	    <div style="text-align: center">
	    	<h2>Unidades Basicas de Saude</h2>
	    </div>

	    <!--Campo PESQUISA -->
	    <div class="form-group col-md-5">
	    	<div class="input-group-append">
    
	    		<input type = "text"
                       id   = "searchUbs" 
                       name="searchUbs"
	    			   class="form-control" 
	    			   [(ngModel)]="filterUbs"
	    			   placeholder="Pesquisa por UBS"              
	    		>
	    	</div>
	    </div>

	    <table class="table table-responsive table-hover " id="tabelaVaciana">

			<thead>
				
				<th scope="col">CNES</th>
				<th scope="col">UBS</th>
				<th scope="col">Municipio</th>
				<th scope="col">Estado</th>
                <th scope="col">Telefone</th>
                <th scope="col">CEP</th>
                <th scope="col">Status</th>
				<th></th>

			</thead>

			<tbody>

			  <tr *ngFor="let ubs of administradorUbs | filter:filterUbs; let i = index">
                
				<td>{{ubs.cnes}}</td>
				<td>{{ubs.nome_da_unidade}}</td>
				<td>{{ubs.municipio}}</td>
				<td>{{ubs.estado}}</td>
                <td>{{ubs.telefone}}</td>
                <td>{{ubs.cep}}</td>
                <td *ngIf="ubs.bloqueado">Bloqueado</td>
				<td *ngIf="!ubs.bloqueado">Ativo</td>
                <td *ngIf="ubs.bloqueado != true">
                    <input  type="button"
					    class="btn btn-danger buttonBloquear"
					    value="Bloquear UBS"
					    routerLink="cadastrar-ubs/"
					    [queryParams]="{
						                cnes:ubs.cnes,
						                nome:ubs.nome_da_unidade,
                                        municipio:ubs.municipio,
                                        bairro:ubs.bairro,
						                endereco:ubs.endereco,
                                        estado:ubs.estado,
                                        telefone:ubs.telefone,
										cep:ubs.cep,
                                        senha:ubs.senha,
                                        bloqueado:ubs.bloqueado,
                                        verificacao:true
					    }"
                    ></td>
                <td></td>
              </tr>
              
			</tbody>

	    </table>

    </div>

    <!-- TABELA DE AGENTES -->
    							  
    <!-- coloco q cor de fundo da tela(provisorio futuaramente mudar para o arquivo de css) -->
    <div style="background-color:   rgb(146, 162, 255)">

        <div style="text-align: center">
            <h2>Agentes Cadastrados</h2>
        </div>
    
    
	    <!--Campo PESQUISA -->
	    <div class="form-group col-md-5">
            <div class="input-group-append">
    
                <input type = "text"
                       id   = "searchAds" 
                       name="searchAds"
                       class="form-control" 
                       [(ngModel)]="filterAds"
                       placeholder="Pesquisa por Agente de Saude"              
                >
            </div>
        </div>
    
        <table class="table table-responsive table-hover " id="tabelaVaciana">
    
                <thead>
                    
                    <th scope="col">CPF</th>
                    <th scope="col">NOME</th>
                    <th scope="col">RG</th>
                    <th scope="col">CNES</th>
                    <th scope="col">STATUS</th>
                    <th></th>
    
                </thead>
    
                <tbody>
    
                  <tr *ngFor="let ads of administradorAds | filter:filterAds; let i = index">
    
                    <td>{{ads.cpf}}</td>
                    <td>{{ads.nome}}</td>
                    <td>{{ads.rg}}</td>
                    <td>{{ads.cnes}}</td>
                    <td *ngIf="ads.bloqueado">Bloqueado</td>
                    <td *ngIf="!ads.bloqueado">Ativo</td>
    
                  </tr>
                  
                </tbody>
    
        </table>
    
    </div>

    <!-- TABELA DA POPULACAO -->
    							  
    <!-- coloco q cor de fundo da tela(provisorio futuaramente mudar para o arquivo de css) -->
    <div style="background-color:  rgb(146, 162, 255)">

        <div style="text-align: center">
            <h2>Populacao Cadastrada</h2>
        </div>
    
    
        <!--Campo PESQUISA -->
	    <div class="form-group col-md-5">
            <div class="input-group-append">
    
                <input type = "text"
                       id   = "searchPopulacao" 
                       name="searchPopulacao"
                       class="form-control" 
                       [(ngModel)]="filterPopulacao"
                       placeholder="Pesquisa por Agente de Saude"              
                >
            </div>
        </div>
    
        <table class="table table-responsive table-hover " id="tabelaVaciana">
    
            <thead>
                
                <th scope="col">CARTAO DO SUS</th>
                <th scope="col">NOME</th>
                <th scope="col">ESTADO</th>
                <th scope="col">MUNICIPIO</th>
                <th></th>

            </thead>

            <tbody>

                <tr *ngFor="let populacao of administradorPopulacao | filter:filterPopulacao; let i = index">

                    <td *ngIf="populacao.cartao_sus != '0'">{{populacao.cartao_sus}}</td>
                    <td *ngIf="populacao.cartao_sus != '0'">{{populacao.nome}}</td>
                    <td *ngIf="populacao.cartao_sus != '0'">{{populacao.estado}}</td>
                    <td *ngIf="populacao.cartao_sus != '0'">{{populacao.municipio_de_nacimento}}</td>
                
                </tr>
              
            </tbody>
    
        </table>
        
    </div>

</body>
</html>