<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cartao da Populacao</title>

</head>

<body>

    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-fixed-top navbar-light navbar-expand-sm">

        <!-- LOGO -->
        <a class="navbar-brand" routerLink="/">

            <img src="assets/logoxx.png" width="50" height="50" class="d-inline-block align-top" alt="">

        </a>

        <!-- BOTÃO PARA RESPONSIVIDADE -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- BOTOES DA NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav mr-auto">

                    <button type="button" class="voltar btn btn-outline-success" routerLink="/">VOLTAR</button>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Campos De Cadastramento -->
    <div id="main" class="container-fluid">

        <h3 class="page-header">Aplicar vacina no Cartao:</h3>

        <form>
            <!-- Campos : Cartao do SUS, Id da Vacina e Data de Aplicação -->
            <div class="row">

                <!--cartao do sus tem que vir do individuo ja cadastrado no banco de dados-->
                <div class="form-group col-md-4">
                    <label for="cartao_sus">Cartao do SUS:</label>
                    <input class="form-control"
                        type="number"
                        id="cartao_sus"
                        name="cartao_sus">
                </div>
                <!--O id vem da Vacina ja cadastrada No banco de dados-->
                <div class="form-group col-md-4">
                    <label for="id_vacina">Id da Vacina:</label>
                    <input class="form-control"
                        type="number"
                        id="id_vacina"
                        name="id_vacina"
                        >
                </div>

                <div class="form-group col-md-4">
                    <label for="data_aplicacao">Data de Aplicação:</label>
                    <input class="form-control"
                        type="date"
                        id="data_aplicacao"
                        name="data_aplicacao"
                        >
                </div>

            </div>

            <!-- Campos : tipo da vacina : apicada ou agendada e é do tipo boolean -->
            <div class="form-group col-md-3">

                <legend class="col-form-label col-sm-2 pt-0">Tipo: </legend>

                <div class="col-sm-10">
                        <!-- faltando arumar algumas coisas -->
                    <div class="form-check">
                        <input class="form-check-input"
                        type="radio"
                        name="gridRadios"
                        id=""
                        value="option1"
                        checked>
                        <label class="form-check-label" for="gridRadios1"> Aplicada </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input"
                        type="radio" 
                        name="gridRadios"
                        id=""
                        value="option2">
                        <label class="form-check-label" for="gridRadios2"> Agendada </label>
                    </div>
                </div>
            </div>

            <!-- Campos : responsavel por ter cadastrado a vacina no cartao do usuario -->
            <div class="row">
                <!--quando a vacina for do tipo aplicada este campo e abiltado se for do tipo 
                    agendada ele e desabiltado-->
                <div class="form-group col-md-3">
                    <label for="cpf_agente">Responsavel:</label>
                    <input class="form-control"
                        type="number"
                        id="cpf_agente"
                        name="cpf_agente">
                </div>

            </div>

        </form>

    </div>

    <!-- Botão de Registrar Cadastro -->
    <div>
        <button type="button" class="btRegistrar btn btn-outline-success">Registrar no Cartão</button>
    </div>

    <!--Rodapé-->
    <footer class="footer text-center">
        <p>--Rodapé--</p>
    </footer>

</body>

</html>